#fondo{

    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0

}

#fondo2{
    background-color:  #1E1E1E;
    color: aliceblue;
}

#colorboton{
    background-color: #D7FC70;
    color: black;
    font-size: 15px;
}

#imagen{
  width: 70%;
  height: auto; 
}

#espacio{
    padding-top: 8rem;
}